<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HomeChef Cutomer Sign Up Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- Our CSS -->
	<link rel="stylesheet" href="../public/styles/styles.css">
	<script src="https://kit.fontawesome.com/314677fe35.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	<!-- Our Java -->
    <script src="js/customerSignUp.js"></script>

</head>
<body>

    <div class="container">
		<!-- Card for SignUp Survey -->
        <div class="row"> 
            <div class="col-12 bookReq">
				<div class="card shadow">
					<div class="card-header">
						<h3>Sign Up for HomeChef</h3>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-12" id="bookdiv">
									<form>
										<div class="form-group">
											<label for="userName"><i class="fas fa-user"></i> First Name</label>
											<input type="text" class="form-control" id="firstName" placeholder="Enter your first name">
										</div>
										<div class="form-group">
											<label for="userName"><i class="fas fa-user"></i> Last Name</label>
											<input type="text" class="form-control" id="lastName" placeholder="Enter your last name">
										</div>
										<div class="form-group">
											<label for="email"><i class="fas fa-envelope"></i> Email address</label>
											<input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                                        </div>
                                        <div class="form-group">
											<label for="password"><i class="fas fa-envelope"></i>Password</label>
											<input type="password" class="form-control" id="password"  placeholder="Set up your password password">
                                        </div>
                                        <div class="form-group">
                                                <label for="phone"><i class="fa fa-phone-square"></i> Phone number</label>
                                                <input type="phone" class="form-control" id="phone"  placeholder="Enter your phone number">
                                            </div>
                                        <div class="form-group">
											<label for="address"><i class="fas fa-map"></i> Address</label>
											<input type="text" class="form-control" id="address" placeholder="Enter your address">
										</div>
										<div class="form-group">
											<label for="city"><i class="fas fa-globe"></i> City</label>
											<input type="text" class="form-control" id="city" placeholder="Enter the city you located">
                                        </div>

										<div class="form-group">
                                            <label for="equip"><i class="fa fa-gear"></i> Our hob is:</label>
                                            <select class="form-control" id = "hobType">
                                                <option ></option>
                                                <option>Electric</option>
                                                <option>Induction</option>
                                                <option>Gas</option>
                                              </select>
                                            </div>
                                        <div class="form-group">
                                                <label for="equip"><i class="fa fa-gear"></i> Our kitchen has:</label>
                                                <select class="form-control" id="hobNumber">
                                                    <option ></option>
                                                    <option>2 hobs</option>
                                                    <option>3 hobs</option>
                                                    <option>4 hobs</option>
                                                    <option>5 hobs</option>
                                                    </select>
                                                </div>
                                        <div class="form-group">
                                                <label for="equip"><i class="fa fa-gear"></i> We have an oven:</label>
                                                <select class="form-control" id = "haveOven">
                                                    <option ></option>
                                                    <option>Yes</option>
                                                    <option>No</option>
                                                    </select>
                                                </div>
                                        <div class="form-group">
                                                <label for="foodRestriction"><i class="fa fa-cutlery"></i> Food Restriction</label>
                                                <input type="text" class="form-control" id="foodRes" placeholder="Enter your food Restriction">
                                            </div>
                                        <div class="form-group">
                                                <label for="foodType"><i class="fa fa-cutlery"></i> Food preferences</label>
                                                <input type="text" class="form-control" id="foodType" placeholder="Enter the food preferences">
                                            </div>                                        
										<button type="button" class="btn btn-success" id="submit" data-toggle="modal" data-target="#myModal">
											<i class="fas fa-glass-cheers fa-2x"></i>
											Submit
										</button>
										
									</form>
								


							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
		

        
	


</body>
</html>