<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>customer page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- Our CSS -->
	<base href="/">
	<link rel="stylesheet" href="../public/styles/styles.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	<!-- Our Java -->
    <script src="js/customerOrder.js"></script>

</head>
<body>
    <div class="container">
    <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="/logout">
                    Logout
                </a>
                </div>
            </div>
            </nav>
    </div>


    <div id="container">
                <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
            Create an order
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Create an order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                <form>
                        <div class="form-group">
                                <label for="orderDate"><i class="fas fa-user"></i> Order Date </label>
                                <input type="text" class="form-control" id="orderDate" placeholder="Enter your orderDate">
                            </div>
                            <div class="form-group">
                                <label for="timing"><i class="fas fa-envelope"></i> Timing</label>
                                <input type="text" class="form-control" id="timing"  placeholder="timing">
                            </div>
                            <div class="form-group">
                                <label for="meal"><i class="fas fa-envelope"></i>Meal</label>
                                <input type="text" class="form-control" id="meal"  placeholder="Select meal">
                            </div>
                            <div class="form-group">
                                    <label for="noOfPeople"><i class="fa fa-phone-square"></i> Number of people</label>
                                    <input type="text" class="form-control" id="noOfPeople"  placeholder="Enter your how many people">
                                </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id = "submit">Submit order</button>
                </div>
            </div>
            </div>
        </div>
    </div>
<!-- 
    <div class="container">
        <div id="userInfo">This user's data:</div>
    </div> -->

    
    <div class="container">
            <!-- Have new Client Requests Here -->
            <div class="row"> 
                <div class="col-12 bookReq">
                    <div class="card shadow">
                        <div class="card-header">
                            <h3>Booking Requests</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12" id="bookdiv">
                                    Sorry, no new booking requests.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
    
            <!-- Show Booked Clients & Calendar Here-->
            <div class="row"> 
                <div class="col-12">
                    <div class="card shadow">
                        <div class="card-header">
                            <h3>Accepted Bookings</h3>
                        </div>
                        <div class="card-body">
                            <div class="row" id="bookedOrders">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal -->
        <div id="myBookingModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
            
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Client</h2>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <!-- Intentionally left Blank -->
                    </div>
                    <div class="modal-footer">
                        <!-- Intentionally left Blank -->
                    </div>
                </div>
    
            </div>
        </div>
    

</body>
</html>