<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HomeChef Chef Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- Our CSS -->
	<link rel="stylesheet" href="../public/styles/styles.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	<!-- Our Java -->
    <script src="../public/js/customerTest.js"></script>

</head>
<body>
    <div class="container">
        <div class="row">
            <!-- <div class="row">
            <div class="col-sm-2 mt-4">
                <a class="btn btn-light" href="/blog">Go to Blog</a>
            </div>
            </div> -->
            <div class="col-md-5 offset-md-3">


                <label for="firstName">firstName:</label>
                <input type="text" class="form-control" id="firstName">
                <br />
                <label for="lastName">lastName:</label>
                <input type="text" class="form-control" id="lastName">
                <br />
                <label for="email">email:</label>
                <input type="text" class="form-control" id="email">
                <br />
                <label for="phone">phone:</label>
                <input type="text" class="form-control" id="phone">
                <br />
                <label for="location">location:</label>
                <input type="text" class="form-control" id="location">
                <br />

                <br />
                <button type="submit" class="btn btn-success submit btn-lg">Submit</button>


            </div>
        </div>
    </div>
    
</body>
</html>