<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Beth+Ellen|Quattrocento+Sans&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="styles/styles.css">
</head>

<body class="bg-dark text-grey">
	<div class="text-center box">
		<div class="blackO">
			<h1 class="display-1">Stay In</h1>
			<br>
			<h4>where the restaurant comes to you!</h4>
		</div>
		<!-- <section class="pricing py-5" style="background-color:transparent !important; margin-top:-450px";> -->
		<section class="pricing py-5">
			<div class="container">
				<div class="row">
					
					<!-- Sign In -->
					<div class="col-lg-4">
						<div class="card mb-5 mb-lg-0">
							<div class="card-body">

								<h5 class="card-title text-muted text-uppercase text-center ">Welcome Back!</h5>
								<hr>

								<ul class="fa-ul">

									<li>
										<span class="fa-li">
											<i class="fas fa-check">
											</i>
										</span>
										<strong>Chef Request</strong> 
									</li>

									<li>
										<span class="fa-li">
											<i class="fas fa-check">
											</i>
										</span>
										Make/Modify Reservation(s)
									</li>
								</ul>

								<a href="/login" class="btn btn-block btn-primary text-uppercase">Sign In Here</a>
							</div>
						</div>
					</div>

					<!-- Client Register -->
					<div class="col-lg-4">
						<div class="card mb-5 mb-lg-0 ">
							<div class="card-body">
								<h5 class="card-title text-muted text-uppercase text-center">New Client Register</h5>
								<hr>
								<ul class="fa-ul">
									<li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Search Chefs in your Area</strong></li>
									<li><span class="fa-li"><i class="fas fa-check"></i></span>Add Tastes and Preferences</li>
								</ul>
								<a href="customersignUp" class="btn btn-block btn-primary text-uppercase">Register Now!</a>
							</div>
						</div>
					</div>

					<!-- Chef Register -->
					<div class="col-lg-4">
						<div class="card" >
							<div class="card-body">
								<h5 class="card-title text-muted text-uppercase text-center">New Chef Register</h5>
								<hr>
								<ul class="fa-ul">
									<li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Find Private Chef Jobs</strong></li>
									<li><span class="fa-li"><i class="fas fa-check"></i></span>Your own Menu and Hours!</li>
								<a href="/chefsignUp" class="btn btn-block btn-primary text-uppercase">Register Now!</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <footer>
				<div class="container" style="margin-top:-10px">
					<ul class="socialIcons">
						<li class="facebook"><a href="#https://www.facebook.com"><i class="fa fa-fw fa-facebook"></i>Facebook</a></li> 
						<li class="twitter"><a href="#"><i class="fa fa-fw fa-twitter"></i>Twitter</a></li> 
						<li class="instagram"><a href="#"><i class="fa fa-fw fa-instagram"></i>Instagram</a></li> 
						<li class="pinterest"><a href="#"><i class="fa fa-fw fa-pinterest-p"></i>Pinterest</a></li> 
					</ul>
				</div>
			</footer> -->
		</section>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<!-- What JS are we using here? -->
	<!-- <script src="./assets/javascript/javascript.js"></script> -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	
</body>
</html>